#setup dependencies, etc.
package/ndk
deps
#Eclipse directories
.metadata/
169.254.0.1/
*/.settings/*.prefs
*.preview-*

#Compilation folders
*/arm/*
*/x86/*

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#Picture stuff
*Thumbs.db*

# Unit Testing
*/UnitTests/*
*/UnitTestsQuick/*

# Maven
*/build/*
*/ndk/*
*/stage/*

# Klocwork
*/buildspec.out

# OSX specific
.DS_Store

# stupid config.pri files
*/config.pri

#extensions
*/bb.extensions
